@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* START OF TOP HEADER DECOR */
.nav-top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100vw;
  height: 4em;
  background-color: #fd6e00;
  font-family: "Montserrat", sans-serif;
}

.social-icons-bar {
  display: flex;
  margin-left: 1em;
}

.social-icons-bar img {
  margin-right: 1vw;
  width: auto;
  height: 2.3em;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 25vw;
  height: 3em;
  border-radius: 2em;
  border-style: none;
  padding: 1em;
  font-size: 0.8vw;
}

.search-bar input::placeholder {
  font-size: 0.9vw;
}

.search-bar img {
  position: relative;
  left: -2em;
  width: auto;
  height: 1.3em;
  cursor: pointer;
}

.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-bar #call-icon {
  width: auto;
  height: 2.3em;
}

.info-bar * {
  margin-right: 1em;
}

.info-bar a {
  text-decoration: none;
  color: white;
  margin-right: 1.5em;
  font-size: 0.8vw;
  cursor: pointer;
}

.info-bar select {
  border-style: none;
  background-color: #fd6e00;
  color: white;
  cursor: pointer;
}

.info-bar #flag-icon {
  width: auto;
  height: 2.3em;
  margin-right: 0.5em;
}

.info-bar select {
  font-size: 0.7em;
}

@media screen and (min-width: 1200px) {
  .nav-top-header {
    height: 3.5em;
  }

  .info-bar #call-icon {
    width: auto;
    height: 2.3em;
    margin-right: 0.5em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 2.3em;
  }

  .info-bar a {
    font-size: 0.9vw;
  }

  .info-bar select {
    font-size: 0.8em;
  }

  .search-bar input {
    width: 23em;
    height: 2.5em;
  }

  .search-bar input {
    font-size: 1vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .search-bar input {
    height: 3em;
    font-size: 1.1vw;
  }

  .info-bar a {
    font-size: 1.1vw;
  }

  .info-bar select {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .social-icons-bar img {
    margin-right: 1vw;
    width: auto;
    height: 1.8em;
  }

  .search-bar {
    display: none;
  }

  .nav-top-header {
    display: flex;
    justify-content: space-around;
    height: 3em;
  }

  .info-bar {
    display: flex;
    align-items: center;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1.8em;
    margin-right: 0.5em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1.8em;
  }

  .info-bar a {
    font-size: 1.3vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .info-bar a {
    font-size: 1.4vw;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    font-size: 0.9em !important;
  }

  .social-icons-bar img {
    margin-right: 1vw;
    width: auto;
    height: 1.6em;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1.6em;
    margin-right: 0.5em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1.6em;
  }

  .search-bar {
    display: none;
  }

  .info-bar select {
    font-size: 0.7em;
  }

  #navbarTogglerDemo02 ul li a {
    font-size: 0.8em;
  }

  .nav-top-header {
    height: 3em;
  }
}

@media screen and (min-width: 460px) and (max-width: 576px) {
  .nav-top-header {
    height: 3em;
  }

  .social-icons-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .info-bar a {
    font-size: 1.8vw;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1.5em;
    margin-right: 0.5em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1.5em;
  }

  .info-bar select {
    width: 5em;
    font-size: 0.7em;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    font-size: 1.1em !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 459px) {
  .info-bar a {
    font-size: 2.2vw;
  }

  .social-icons-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1.2em;
    margin-right: 0.3em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1.2em;
  }

  .info-bar select {
    width: 5em;
  }
}

@media screen and (max-width: 375px) {
  .info-bar a {
    font-size: 2vw;
  }

  .social-icons-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1em;
    margin-right: 0.3em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1em;
  }

  .info-bar select {
    width: 5em;
    font-size: 2.5vw;
  }
}

/* END OF TOP HEADER DECOR */

/* START OF BOTTOM HEADER DECOR */
#nav-bottom-header-navbar .container-fluid {
  width: 75vw;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 2px solid #fd6e00;
}

.dropdown-content::before {
  content: url("../Images/orange-arrow.png");
  position: absolute;
  bottom: 7.8em;
  right: 2em;
}

.dropbtn2 {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 2px solid #fd6e00;
  right: 0.1em;
}

.dropdown-content2::before {
  content: url("../Images/orange-arrow.png");
  position: absolute;
  bottom: 11.3em;
  right: 2em;
}

.dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}
.dropdown-content2 a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}

.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  color: #fd6e00;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-content2 a:hover {
  background-color: rgb(255, 255, 255);
  color: #fd6e00;
  text-decoration: none;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown2:hover .dropbtn2 {
  background-color: #3e8e41;
}

.navbar-brand #logo_img {
  width: auto;
  height: 3.5em;
}

#signin {
  width: 7em;
  height: 2.5em;
  border-radius: 2em;
  background-color: #fd6e00;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  outline: none;
}

#signin:hover {
  background-color: white;
  border: 1px solid #fd6e00;
  color: #fd6e00;
}

.navbar-nav .nav-link {
  color: grey;
  font-size: 1vw;
  margin-right: 1.3em;
}

.navbar-nav .nav-link:hover {
  color: #fd6e00 !important;
}

.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  bottom: 0.8em;
  right: 0.2em;
  border-radius: 50%;
  background: #fd6e00;
  color: white;
}

.wishlist {
  position: relative;
  display: inline-block;
}

.wishlist .badge {
  position: absolute;
  bottom: 0.8em;
  right: 0.2em;
  border-radius: 50%;
  background: #fd6e00;
  color: white;
}

.active {
  color: #fd6e00 !important;
  font-weight: bold !important;
}

.sticky-bar-wrapper {
  overflow: visible;
  height: auto;
}

.sticky-shadow {
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

#carousel-slider {
  width: 75vw;
  margin: 0 auto;
}

.carousel-inner {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-slider-text {
  position: absolute;
  left: 34vw;
  bottom: 6vw;
}

.carousel-slider-text p:first-child {
  font-family: "Marck Script", cursive;
  font-size: 2.1vw;
  margin-bottom: 0;
}

.carousel-slider-text h2 {
  color: white;
  font-size: 4.5vw;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0;
}

.carousel-slider-text p {
  font-size: 2vw;
  color: #b4f146;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.3em;
}

.carousel-slider-text button {
  background-color: #fd6e00;
  color: white;
  border-radius: 1.4vw;
  width: 8em;
  height: 2.7em;
  border-style: none;
  border-radius: 2em;
  font-size: 1.1vw;
  margin-top: 0em;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2);
  font-weight: bolder;
}

.carousel-slider-text button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

/* MODAL STYLING */

.modal-header img {
  width: auto;
  height: 5em;
}

.required {
  color: #fd6e00;
}

.btn-orange {
  background-color: #fd6e00 !important;
  color: white !important;
  font-weight: bold !important;
}

.btn-orange:hover {
  background-color: white !important;
  color: #fd6e00 !important;
  border: 1px solid #fd6e00 !important;
}

.tab-pane .btn-default2 {
  background-color: white;
  color: gray;
  border: 1px solid #fd6e00;
  font-weight: bold;
  font-size: 0.8em;
}

.btn-default2:hover {
  background-color: rgb(216, 214, 214);
  color: white;
  border: 1px solid white;
}

#myTabContent form label {
  color: grey;
  font-weight: normal;
}

.modal-footer a {
  font-family: "Trebuchet MS";
  font-weight: bold;
  border-radius: 0.5em;
  width: 8em;
}

.bi::before {
  margin-right: 0.5em;
}

.modal-footer span:first-child {
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 2em;
}

.modal-social-btn {
  width: 100rem;
  display: flex;
  justify-content: space-evenly;
}

.modal-body .nav-link {
  color: rgb(95, 94, 94);
  font-weight: bold;
  background-color: rgb(241, 238, 238);
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav .nav-link {
    font-size: 1.2vw;
    margin-right: 1.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav-bottom-header .dropdown .dropdown-content,
  .nav-bottom-header .dropdown2 .dropdown-content2 {
    display: none;
  }

  #nav-bottom-header-navbar .container-fluid {
    width: 75vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 3.5em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.8em;
  }

  #search-bar-container {
    width: 19em;
    height: auto;
    border-radius: 1em;
  }

  #search-bar-hidden {
    border-radius: 1em;
  }

  #basic-addon1 {
    position: relative;
    right: 2em;
    top: 0.3em;
  }

  #navbarTogglerDemo02 .nav-link {
    font-size: 0.8em;
  }

  .navbar-nav .nav-link:hover {
    color: #fd6e00 !important;
    border: none !important;
  }

  #signin {
    width: 100vw;
    height: 3.5em;
    font-size: 0.6em;
    border-radius: 0;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 5vw;
  }

  .carousel-slider-text p:first-child {
    font-family: "Marck Script", cursive;
    font-size: 2.3vw;
    margin-bottom: 0;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
    color: #b4f146;
    font-family: "Montserrat", sans-serif;
  }

  .carousel-slider-text h2 {
    color: white;
    font-size: 5vw;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav-bottom-header .dropdown .dropdown-content,
  .nav-bottom-header .dropdown2 .dropdown-content2 {
    display: none;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 2.7em;
  }

  #basic-addon1 {
    position: relative;
    right: 2em;
    top: 0.2em;
  }

  #basic-addon1 {
    position: relative;
    right: 2em;
    top: 0.2em;
  }

  #basic-addon1 img {
    width: auto;
    height: 1.1em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.8em;
  }

  #search-bar-hidden {
    height: 2em;
    border-radius: 1em;
  }

  #signin {
    width: 100vw;
    height: 3.5em;
    font-size: 0.6em;
    border-radius: 0;
  }

  #search-bar-container {
    width: 15em;
    height: auto;
    border-radius: 1em;
  }

  .navbar-toggler {
    transform: scale(0.9, 0.9);
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 3vw;
  }

  .carousel-slider-text p:first-child {
    font-family: "Marck Script", cursive;
    font-size: 2vw;
    margin-bottom: 0;
  }

  .carousel-slider-text p {
    font-size: 2.3vw;
    color: #b4f146;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
  }

  .carousel-slider-text h2 {
    color: white;
    font-size: 5vw;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 461px) and (max-width: 575px) {
  .nav-bottom-header .dropdown .dropdown-content,
  .nav-bottom-header .dropdown2 .dropdown-content2 {
    display: none;
  }

  #nav-bottom-header-navbar .container-fluid {
    width: 100vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 2.6em;
  }

  #basic-addon1 {
    position: relative;
    right: 1.5em;
    top: 0.1em;
  }

  #basic-addon1 img {
    width: auto;
    height: 1em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.7em;
  }

  #search-bar-hidden {
    height: 1.9em;
    border-radius: 1em;
  }

  #search-bar-container {
    width: 16em;
    height: auto;
    border-radius: 1em;
  }

  #signin {
    width: 100vw;
    height: 3.5em;
    font-size: 0.7em;
    border-radius: 0;
  }

  .navbar-toggler {
    transform: scale(0.8, 0.8);
  }

  #navbarTogglerDemo02 .nav-link {
    font-size: 0.7em;
  }

  .toggle {
    float: right;
  }

  #carousel-slider {
    width: 90vw;
    margin: 0 auto;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 6vw;
  }

  .carousel-slider-text p:first-child {
    font-size: 2.7vw;
  }

  .carousel-slider-text h2 {
    font-size: 6vw;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
  }

  .carousel-slider-text button {
    width: 8em;
    height: 2.7em;
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 406px) and (max-width: 460px) {
  .nav-bottom-header .dropdown .dropdown-content,
  .nav-bottom-header .dropdown2 .dropdown-content2 {
    display: none;
  }

  #nav-bottom-header-navbar .container-fluid {
    width: 100vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 2.3em;
  }

  #basic-addon1 {
    position: relative;
    right: 1.5em;
    top: 0.05em;
  }

  #basic-addon1 img {
    width: auto;
    height: 1em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.68em;
  }

  #search-bar-hidden {
    height: 1.8em;
    border-radius: 1em;
  }

  #signin {
    width: 100vw;
    height: 3.5em;
    font-size: 0.6em;
    border-radius: 0;
  }

  #search-bar-container {
    width: 13em;
    height: auto;
    border-radius: 1em;
  }

  .navbar-toggler {
    transform: scale(0.7, 0.7);
  }

  #navbarTogglerDemo02 .nav-link {
    font-size: 0.7em;
  }

  .toggle {
    float: right;
  }

  #carousel-slider {
    width: 90vw;
    margin: 0 auto;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 6vw;
  }

  .carousel-slider-text p:first-child {
    font-size: 2.7vw;
  }

  .carousel-slider-text h2 {
    font-size: 6vw;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
  }

  .carousel-slider-text button {
    width: 8em;
    height: 2.7em;
    font-size: 1.8vw;
  }

  .nav-bottom-header .modal-body .nav {
    font-size: 0.9em;
  }

  .modal-footer a {
    width: 7em;
  }
}

@media screen and (min-width: 376px) and (max-width: 405px) {
  .nav-bottom-header .dropdown .dropdown-content,
  .nav-bottom-header .dropdown2 .dropdown-content2 {
    display: none;
  }

  #nav-bottom-header-navbar .container-fluid {
    width: 100vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 1.8em;
  }

  #basic-addon1 {
    position: relative;
    right: 1.5em;
    top: 0.05em;
  }

  #basic-addon1 img {
    width: auto;
    height: 0.8em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.62em;
  }

  #search-bar-hidden {
    height: 1.8em;
    border-radius: 1em;
  }

  #signin {
    width: 100vw;
    height: 3.5em;
    font-size: 0.6em;
    border-radius: 0;
  }

  #search-bar-container {
    width: 12em;
    height: auto;
    border-radius: 1em;
  }

  .navbar-toggler {
    transform: scale(0.7, 0.7);
  }

  #navbarTogglerDemo02 .nav-link {
    font-size: 0.7em;
  }

  .toggle {
    float: right;
  }

  #carousel-slider {
    width: 90vw;
    margin: 0 auto;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 6vw;
  }

  .carousel-slider-text p:first-child {
    font-size: 2.7vw;
  }

  .carousel-slider-text h2 {
    font-size: 6vw;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
  }

  .carousel-slider-text button {
    width: 8em;
    height: 2.7em;
    font-size: 1.8vw;
  }

  .nav-bottom-header .modal-body .nav {
    font-size: 0.9em;
  }

  .modal-footer a {
    width: 7em;
  }
}

@media screen and (max-width: 375px) {
  #nav-bottom-header-navbar .container-fluid {
    width: 100vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 1.7em;
  }

  #basic-addon1 {
    position: relative;
    right: 1.5em;
    top: 0.05em;
  }

  #basic-addon1 img {
    width: auto;
    height: 0.8em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.55em;
  }

  #search-bar-hidden {
    height: 1.8em;
    border-radius: 1em;
  }

  #signin {
    width: 100vw;
    height: 3.5em;
    font-size: 0.6em;
    border-radius: 0;
  }

  #search-bar-container {
    width: 11em;
    height: auto;
    border-radius: 1em;
  }

  .navbar-toggler {
    transform: scale(0.6, 0.6);
  }

  #navbarTogglerDemo02 .nav-link {
    font-size: 0.7em;
  }

  .toggle {
    float: right;
  }

  #toggle-btn {
    transform: scale(0.4, 0.4);
  }
  #carousel-slider {
    width: 90vw;
    margin: 0 auto;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 6vw;
  }

  .carousel-slider-text p:first-child {
    font-size: 2.7vw;
  }

  .carousel-slider-text h2 {
    font-size: 6vw;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
  }

  .carousel-slider-text button {
    width: 8em;
    height: 2.7em;
    font-size: 1.8vw;
  }
}

/* END OF BOTTOM HEADER DECOR */

/* BACK TO TOP BUTTON DECOR */
.back-to-top-btn {
  float: right;
  position: fixed;
  right: 3vw;
  bottom: 1em;
  height: auto;
  visibility: hidden;
  z-index: 1000;
}

.back-to-top-btn img {
  width: 5vw;
}

@media screen and (max-width: 768px) {
  .back-to-top-btn img {
    width: 8vw;
  }
}

@media screen and (max-width: 576px) {
  .back-to-top-btn img {
    width: 9vw;
  }
}

@media screen and (max-width: 460px) {
  .back-to-top-btn img {
    width: 10vw;
  }
}

/* START OF PAYMENTS_HELP DECOR */
.payment-help .container-fluid {
  width: 75vw;
}

.payment-help .row .col {
  border: 1px solid lightgray;
  padding: 1em;
}

.payment-help .row .col img {
  width: auto;
  height: 3em;
}

.payment-help .row .col h2 {
  font-size: 1em;
  margin-top: 1em;
  font-weight: 600;
}

.payment-help .row .col p {
  font-size: 0.6em;
  color: gray;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .payment-help .row .col h2 {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .payment-help .row .col h2 {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .payment-help .row .col h2 {
    font-size: 1em;
  }
}

@media screen and (min-width: 460px) and (max-width: 767px) {
  .payment-help .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 0 auto;
  }

  .payment-help .col {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 375px) and (max-width: 459px) {
  .payment-help .container-fluid {
    width: 100vw !important;
  }

  .payment-help .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 0 auto;
  }

  .payment-help .col {
    grid-column: 1/2;
    padding: 0;
  }
}

@media screen and (max-width: 374px) {
  .payment-help .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 0 auto;
  }

  .payment-help .col {
    grid-column: 1/2;
    padding: 0;
  }
}

/* END OF PAYMENTS_HELP DECOR */

/* START OF FOOTER DECOR */
footer .container-fluid .row .col h3 {
  font-size: 0.9em;
}

footer .container-fluid .row .col a {
  font-size: 0.8em;
  text-decoration: none;
  color: gray;
  line-height: 2.5em;
}

footer .container-fluid .row .col a:hover {
  color: #fd6e00;
  font-weight: 700;
}

footer .container-fluid .row .col .input-group input {
  height: 1.6em;
  background-color: rgb(241, 239, 239);
  border-radius: 0;
}

footer .container-fluid .row .col .input-group input::placeholder {
  font-size: 0.8em;
  text-align: center;
}

footer .container-fluid .row .col .input-group button {
  height: 1.6em;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0;
}

footer .container-fluid .row .col small {
  font-size: 0.7em;
  color: grey;
}

footer .container-fluid .row .col small a {
  font-size: 0.9em;
  color: blue;
  text-decoration: underline;
}

footer .bottom-footer {
  height: 4em;
}

footer .bottom-footer .row .col .card-holder img {
  width: auto;
  height: 1.5em;
  margin-right: 1em;
}

footer .bottom-footer .row .col .social-holder img {
  width: auto;
  height: 1.5em;
  margin-right: 1em;
}

@media screen and (max-width: 1200px) {
  footer .container-fluid .row .col .input-group input::placeholder {
    font-size: 0.8em;
    text-align: left;
  }

  footer .container-fluid .row .col .input-group button {
    height: 2em;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 0;
    font-size: 0.8em;
  }

  footer .container-fluid .row .col small {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col small a {
    font-size: 1em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.9em;
    text-decoration: none;
    color: gray;
    line-height: 2.5em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  footer .bottom-footer .row .col h3 {
    font-size: 0.8em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
    text-decoration: none;
    color: gray;
    line-height: 2.5em;
  }

  footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 1.2em;
    margin-right: 0.5em;
  }

  footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 1.2em;
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .container-fluid .row .col h3 {
    font-size: 0.8em;
  }

  footer .bottom-footer .row .col h3 {
    font-size: 0.8em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
    text-decoration: none;
    color: gray;
    line-height: 2.5em;
  }

  footer .bottom-footer .row .col .card-holder img {
    margin-right: 0.3em;
  }

  footer .bottom-footer .row .col .social-holder img {
    margin-right: 0.3em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  footer .container-fluid .row .col h3 {
    font-size: 0.8em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
    text-decoration: none;
    color: gray;
    line-height: 2.5em;
  }

  footer .container-fluid .row .col small {
    font-size: 0.6em;
    color: grey;
  }

  footer .bottom-footer .row .col h3 {
    font-size: 0.6em;
  }

  footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 1em;
    margin-right: 0.1em;
  }

  footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 1em;
    margin-right: 0.1em;
  }
}

@media screen and (min-width: 460px) and (max-width: 575px) {
  footer .container-fluid .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75vw;
  }

  footer .container-fluid .row .col:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  footer .container-fluid .row .col:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  footer .container-fluid .row .col:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 1em;
  }

  footer .container-fluid .row .col:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 1em;
  }

  footer .container-fluid .row .col:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 2em;
  }

  footer .container-fluid .row .col h3 {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col small a {
    font-size: 1em;
  }

  footer .bottom-footer .row .col:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  footer .bottom-footer .row .col:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 0.8em;
    margin-right: 0.1em;
  }

  footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 0.8em;
    margin-right: 0.1em;
  }
}

@media screen and (min-width: 376px) and (max-width: 459px) {
  footer .container-fluid .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75vw;
  }

  footer .container-fluid .row .col:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  footer .container-fluid .row .col:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  footer .container-fluid .row .col:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 1em;
  }

  footer .container-fluid .row .col:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 1em;
  }

  footer .container-fluid .row .col:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 2em;
  }

  footer .container-fluid .row .col h3 {
    font-size: 0.8em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
    line-height: 2.5em;
  }

  footer .container-fluid .row .col small a {
    font-size: 1em;
  }

  footer .bottom-footer .row .col:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  footer .bottom-footer .row .col:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 0.8em;
    margin-right: 0.1em;
  }

  footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 0.8em;
    margin-right: 0.1em;
  }
}

@media screen and (max-width: 375px) {
  footer .container-fluid .row .col h3 {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col:nth-child(3) {
    margin-top: 0.5em;
  }

  footer .container-fluid .row .col:nth-child(4) {
    margin-top: 0.5em;
  }

  footer .container-fluid .row .col:nth-child(5) {
    margin-top: 2em;
  }

  footer .container-fluid .row .col small {
    font-size: 0.6em;
  }

  footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 0.6em;
    margin-right: 0.1em;
  }

  footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 0.6em;
    margin-right: 0.1em;
  }
}

.breadcrumb-item {
  font-size: 1vw;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .breadcrumb-item {
    font-size: 1vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumb-item {
    font-size: 1.5vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 5em;
  }
}

@media screen and (min-width: 461px) and (max-width: 575px) {
  .breadcrumb-item {
    font-size: 2.1vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }
}

@media screen and (min-width: 399px) and (max-width: 460px) {
  .breadcrumb-item {
    font-size: 2.4vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }
}

@media screen and (min-width: 320px) and (max-width: 398px) {
  .breadcrumb-item {
    font-size: 2.4vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }
}

.breadcrumb li:first-child {
  margin-left: 3em;
}

/* START OF CATEGORIES DECOR */
#categories h1 {
  font-size: 2vw;
  font-weight: 100;
  margin-bottom: 2vw;
}

.text-box {
  position: absolute;
  left: 11.5em;
  bottom: 4.5em;
  text-align: center;
}

.text-box h2 {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.text-box button {
  width: 8em;
  height: 2.5em;
  border-radius: 2em;
  background-color: #fd6e00;
  color: white;
  font-weight: bold;
  font-size: 1vw;
  border: none;
}

.text-box button:hover {
  background-color: white;
  border: 1px solid #fd6e00;
  color: #fd6e00;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .text-box {
    position: absolute;
    left: 10.5em;
    bottom: 4.5em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .text-box {
    position: absolute;
    left: 7.5em;
    bottom: 3.5em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .desc-tabs .nav-item .nav-link:hover {
    border-bottom: 2px solid #fd6e00 !important;
    border-left: none;
  }
}

@media screen and (min-width: 460px) and (max-width: 575px) {
  .desc-tabs-content {
    margin-left: 1em;
  }

  .desc-tabs .nav-item .nav-link:hover {
    border-bottom: 2px solid #fd6e00 !important;
    border-left: none;
  }
}

@media screen and (min-width: 834px) and (max-width: 991px) {
  .text-box {
    position: absolute;
    left: 11em;
    bottom: 5em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 2vw;
    margin-bottom: 0.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 833px) {
  .text-box {
    position: absolute;
    left: 9em;
    bottom: 4em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 2vw;
    margin-bottom: 0.2em;
  }
}

@media screen and (min-width: 621px) and (max-width: 767px) {
  #categories h1 {
    font-size: 3vw;
    font-weight: 100;
    margin-bottom: 2vw;
    text-align: center;
  }

  .text-box {
    position: absolute;
    left: 8.5em;
    bottom: 4em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 2vw;
    margin-bottom: 0.2em;
  }

  .text-box button {
    width: 8em;
    height: 2.6em;
    font-size: 1.2vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 620px) {
  #categories h1 {
    font-size: 3vw;
    font-weight: 100;
    margin-bottom: 2vw;
    text-align: center;
  }

  .text-box {
    position: absolute;
    left: 6.5em;
    bottom: 2.5em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 2vw;
    margin-bottom: 0.2em;
  }

  .text-box button {
    width: 8em;
    height: 2.6em;
    font-size: 1.2vw;
  }
}

@media screen and (min-width: 460px) and (max-width: 575px) {
  #categories h1 {
    font-size: 3.2vw;
    font-weight: 100;
    margin-bottom: 2vw;
    text-align: center;
  }

  #categories .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #categories .col {
    grid-column: 1/12;
    width: 17em;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .text-box1 {
    position: absolute;
    left: 9em;
    bottom: 4em;
    text-align: center;
  }

  .text-box2 {
    position: absolute;
    left: 8em;
    bottom: 4em;
    text-align: center;
  }

  .text-box3 {
    position: absolute;
    left: 9em;
    bottom: 4em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 1em;
  }

  .text-box button {
    width: 8em;
    height: 2.6em;
    font-size: 1.7vw;
  }
}

@media screen and (min-width: 375px) and (max-width: 459px) {
  .main-container .desc-tabs .nav-item {
    font-size: 2vw;
  }

  #categories h1 {
    font-size: 5vw;
    text-align: center;
  }

  #categories .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #categories .col {
    grid-column: 1/12;
    width: 17em;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .text-box1 {
    position: absolute;
    left: 9em;
    bottom: 4em;
    text-align: center;
  }

  .text-box2 {
    position: absolute;
    left: 8.5em;
    bottom: 4em;
    text-align: center;
  }

  .text-box3 {
    position: absolute;
    left: 9.5em;
    bottom: 4em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 1em;
  }

  .text-box button {
    width: 8em;
    height: 2.6em;
    font-size: 2vw;
  }
}

@media screen and (min-width: 275px) and (max-width: 374px) {
  #categories h1 {
    font-size: 5vw;
    margin-bottom: 1em;
  }
}

/* END OF CATEGORIES DECOR */

/* START OF LATEST PRODUCTS DECOR */
.latest-prods {
  margin-top: 2vw;
}

.latest-prod-title-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 75vw;
  margin: 10vw auto 0 auto;
  align-items: center;
}

.latest-prod-title-bar h2 {
  grid-column: 1/2;
  font-size: 2.3vw;
  font-weight: lighter;
  justify-self: start;
}

.latest-prod-title-bar ul {
  grid-column: 2/3;
  justify-self: end;
  border: none !important;
}

.latest-prod-title-bar ul li a {
  color: grey;
  border: none !important;
  cursor: pointer;
}

.latest-prod-title-bar ul li:hover {
  border-bottom: 1px solid #fd6e00;
}

.latest-prods .container-fluid {
  width: 75vw;
  margin: 0 auto;
  position: relative;
}

#myReviewTab,
.desc-tabs-content {
  width: 75vw;
  margin: 0 auto;
  border: none;
  font-size: 0.8em;
}

.desc-tabs .nav-item .nav-link {
  color: black;
  font-weight: 500;
  border: none;
}

.new_tag {
  position: absolute;
  left: 19em;
  top: 2.5em;
  background-color: crimson;
  padding: 5px 15px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.container-fluid .icons {
  position: absolute;
  top: 8em;
  left: 3.2em;
  z-index: 100;
}

.container-fluid .icons:hover {
  cursor: pointer;
}

.container-fluid .icons img {
  width: auto;
  height: 7em;
}

.latest-prods .container-fluid .prod-card .stars-group img {
  width: auto;
  height: 1.1em;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
  font-size: 1.2em;
  font-weight: normal;
}

.card-text del {
  color: grey;
}

.offer {
  color: #fd6e00;
  font-weight: bolder;
}

.view-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.view-more-btn button {
  background-color: #fd6e00;
  color: white;
  border-radius: 1.4em;
  width: 9em;
  height: 2.7em;
  border-style: none;
  font-size: 0.9em;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.view-more-btn button:hover {
  background-color: white;
  color: #fd6e00;
  border: 1px solid lightgrey;
}

@media screen and (min-width: 460px) and (max-width: 575px) {
  #myReviewTab,
  .desc-tabs-content {
    width: 75vw !important;
    margin: 0 auto !important;
  }

  .desc-tabs .nav-item {
    font-size: 2.6vw;
    border: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .desc-tabs .nav-item {
    font-size: 2vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .desc-tabs .nav-item {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .desc-tabs .nav-item {
    font-size: 1.3vw;
  }

  .desc-tabs-content .tab-pane h6 {
    font-size: 1em;
  }

  .desc-tabs-content .tab-pane p {
    font-size: 0.8em;
  }

  .latest-prod-title-bar ul li a {
    font-size: 0.9em;
  }

  .prod-card .card-text {
    color: black;
    font-size: 1vw;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 12em;
    top: 1.5em;
    font-size: 0.8em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 5em;
    left: 2em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 5em;
  }
}

@media screen and (min-width: 852px) and (max-width: 991px) {
  .latest-prods .container-fluid {
    width: 75vw;
    margin: 0 auto;
    position: relative;
  }

  .latest-prod-title-bar ul li a {
    font-size: 0.9em;
  }

  .latest-prod-title-bar h2 {
    font-size: 1.3em;
  }

  .card-text {
    color: black;
    font-size: 0.9em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 16em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 7.5em;
    left: 3.5em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }
}

@media screen and (min-width: 768px) and (max-width: 851px) {
  .latest-prod-title-bar ul li a {
    font-size: 0.8em;
  }

  .card-text {
    color: black;
    font-size: 0.9em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 16em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 6em;
    left: 1.8em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }
}

@media screen and (min-width: 645px) and (max-width: 767px) {
  .latest-prods .latest-prod-title-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar ul a {
    font-size: 3vw;
  }

  .latest-prods .container-fluid {
    width: 50vw;
    margin: 0 auto;
    position: relative;
  }

  .new_tag {
    position: absolute;
    left: 17em;
    top: 2.5em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 8.5em;
    left: 4.7em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6.5em;
  }

  .view-more-btn button {
    width: 9em;
    height: 2.7em;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 576px) and (max-width: 644px) {
  .latest-prods .latest-prod-title-bar {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar ul a {
    font-size: 2vw;
  }

  .latest-prods .container-fluid {
    width: 50vw;
    margin: 0 auto;
    position: relative;
  }

  .new_tag {
    position: absolute;
    left: 14em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 7em;
    left: 3em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }

  .view-more-btn button {
    width: 9em;
    height: 2.7em;
    font-size: 0.7em;
  }
}

@media screen and (min-width: 509px) and (max-width: 575px) {
  .latest-prods .latest-prod-title-bar {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar ul a {
    font-size: 2vw;
  }

  .latest-prods .container-fluid {
    width: 60vw;
  }

  .latest-prods .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0 auto;
  }

  .latest-prods .container-fluid .col {
    grid-column: 1/2;
  }

  .card-text {
    color: black;
    font-size: 0.9em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 16em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 7em;
    left: 2.3em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }

  .latest-prods .container-fluid .card .stars-group img {
    width: auto;
    height: 1em;
  }
}

@media screen and (min-width: 476px) and (max-width: 508px) {
  .latest-prods .latest-prod-title-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar ul a {
    font-size: 2vw;
  }

  .latest-prod-title-bar h2 {
    font-size: 4vw;
  }

  .latest-prods .container-fluid {
    width: 70vw;
  }

  .latest-prods .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0 auto;
  }

  .latest-prods .container-fluid .col {
    grid-column: 1/2;
  }

  .card-text {
    color: black;
    font-size: 1em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 18em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 8em;
    left: 3.5em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }

  .latest-prods .container-fluid .card .stars-group img {
    width: auto;
    height: 1em;
  }
}

@media screen and (min-width: 398px) and (max-width: 475px) {
  .latest-prods .latest-prod-title-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 5vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
    font-size: 0.8em;
  }

  .latest-prod-title-bar ul li a {
    font-size: 0.9em;
  }

  .latest-prods .container-fluid {
    width: 75vw;
  }
  .latest-prods .container-fluid .row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .new_tag {
    position: absolute;
    left: 16em;
    top: 2.5em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 7em;
    left: 2em;
    z-index: 100;
  }
  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }
}

@media screen and (min-width: 375px) and (max-width: 397px) {
  .latest-prods .latest-prod-title-bar {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar h2 {
    font-size: 4vw;
  }

  .latest-prod-title-bar ul li a {
    font-size: 0.7em;
  }

  .latest-prod-title-bar h2 {
    font-size: 5vw;
  }

  .latest-prods .container-fluid {
    width: 75vw;
  }

  .card-text {
    color: black;
    font-size: 1.1em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 14em;
    top: 1.5em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 7em;
    left: 1.3em;
    z-index: 100;
  }

  .container-fluid .icons img {
    height: 6em;
  }
}

/* END OF LATEST PRODUCTS DECOR */
