@media screen and (max-width: 576px) {
  .back-to-top-btn img {
    width: 9vw;
  }
}

@media screen and (max-width: 510px) {
  .grid-column1 .top-container img {
    width: auto;
    height: 55vw;
  }

  .grid-column1 h2 {
    font-size: 8vw;
  }

  .form-footer .para-1 p {
    width: 70vw;
    font-size: 2vw;
    height: 8vw;
  }

  .form-footer .para-2 p {
    width: 70vw;
    font-size: 2vw;
    height: 5vw;
  }

  .form-container .form-header {
    height: 6vw;
    width: 70vw;
    font-size: 2vw;
  }

  .form-container .form-body {
    padding: 2em;
    width: 70vw;
    font-size: 0.8em;
    background-color: white;
  }
}

@media screen and (min-width: 460px) and (max-width: 767px) {
  .payment-help .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 0 auto;
  }

  .payment-help .col {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 461px) and (max-width: 575px) {
  .xxl-container .grid-column-2 .top-flex-container2 span {
    font-size: 0.8em;
  }

  .xxl-container .grid-column-2 .top-flex-container2 select {
    height: 2em;
    font-size: 0.8em;
    padding: 0 0.2em;
    font-weight: bold;
  }

  .xxl-container .grid-column-2 .top-flex-container2 .form-inline label {
    font-size: 0.8em;
  }

  .xxl-container .grid-column-2 .top-flex-container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .xxl-container .grid-column-2 #delivery_date {
    text-align: center;
  }

  .xxl-container .grid-column-2 #order_id {
    text-align: center;
  }

  .xxl-container .grid-column-2 .img-info {
    height: 35em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    margin-left: 3em;
  }

  .xxl-container .grid-column-2 .img-info .media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
  }

  .xxl-container .grid-column-2 .progressbar {
    width: 70vw;
    margin: 0 auto;
  }

  .xxl-container .grid-column-2 .red-bar {
    background-color: red;
    width: 66vw;
    height: 0.5em;
    margin: 0 auto;
  }

  .xxl-container .grid-column-2 .red-bar::before {
    content: url("../Images/red-dot.png");
    position: relative;
    right: 1em;
  }

  .xxl-container .grid-column-2 .red-bar::after {
    position: relative;
    bottom: 1.5vw;
    left: 58vw;
  }

  .xxl-container .grid-column-2 .grey-line {
    background-color: lightgrey;
    width: 67vw;
    height: 0.1em;
    margin-top: 4vw;
    margin: 4vw auto;
  }

  .xxl-container .grid-column-2 .grey-line::after {
    position: relative;
    bottom: 3.6vw;
    left: 62vw;
  }

  .xxl-container .grid-column-2 #rep-box {
    width: 100vw;
  }

  .xxl-container .grid-column-2 .return-box {
    margin-right: 4em;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-container .left-main-container .row {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: auto;
    width: 75vw;
  }

  .main-container .left-main-container .img-col-1 img {
    width: auto;
    height: 8vw;
  }

  .main-container .right-main-container .select-container {
    width: 60vw;
    height: auto;
  }

  .main-container .right-main-container .select-container .button-group button {
    font-size: 0.9em;
    margin-right: 0.3em;
  }

  .main-container .right-main-container .select-container .btn-group button {
    font-size: 0.9em;
  }

  .main-container .right-main-container .stars-group span p {
    font-size: 0.8em;
  }

  .main-container .right-main-container .share-on-social h6 {
    font-size: 0.9em;
  }

  .main-container .right-main-container .share-on-social {
    width: 40vw;
  }

  .main-container .right-main-container .share-on-social img {
    width: auto;
    height: 1.7em;
  }

  .main-container .right-main-container .delivery-support span {
    font-size: 0.65em;
  }

  #myReviewTab,
  .desc-tabs-content {
    width: 75vw !important;
    margin: 0 auto !important;
  }

  .desc-tabs .nav-item {
    font-size: 2.6vw;
    border: none;
  }

  .buttons-collection .cart-button,
  .buttons-collection .buynow-button {
    width: 23vw;
    height: 6.5vw;
    font-size: 0.8em;
  }

  .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .review-container .grid-container-1 .write-review button {
    width: 34vw;
    height: 6.5vw;
    font-size: 2.3vw;
  }

  .review-container .grid-container-1 h6 {
    margin-bottom: 0;
    font-size: 1.6em;
  }

  .review-container .grid-container-1 {
    width: 100vw;
    text-align: center;
  }

  .review-container .grid-container-2 .helpful-content button {
    width: 13vw;
    height: 5vw;
    font-size: 2.4vw;
  }

  .review-container .grid-container-2 .helpful-content span a {
    font-size: 2.4em;
  }

  .related-products .container .card-body h5 {
    font-size: 4.5vw;
  }

  .related-products .container .card-body p {
    font-size: 2.5vw;
  }

  .related-products .container h2 {
    font-size: 4vw;
    text-align: center;
  }

  .progress-div {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: center;
    height: 1.3em;
  }

  .progress-div span:first-child {
    font-size: 2.2vw;
  }

  .progress-div span:last-child {
    font-size: 2.2vw;
  }

  .top-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-box h5 {
    font-size: 1.3em;
  }

  .left-main-container h5 {
    font-size: 1em;
  }

  .left-main-container h6 {
    font-size: 0.8em;
  }

  #main .left-main-container {
    width: 25vw;
  }

  #main .right-main-container {
    width: 60vw;
  }

  #main .right-main-container .row .col .card-title {
    font-size: 4vw;
    font-weight: bold;
  }

  #main .right-main-container .row .col .card-text {
    font-size: 2.5vw;
  }

  #main .right-main-container .row .col .stars-group img {
    width: auto;
    height: 3.2vw;
  }

  #main .left-main-container input[type="checkbox"] + label {
    font-size: 1.9vw;
  }

  #main .left-main-container input[type="radio"] + label {
    font-size: 1.9vw;
  }

  #main .right-main-container .icons img {
    width: auto;
    height: 13vw;
  }

  #main .right-main-container .icons {
    position: absolute;
    top: 7em;
    left: 3em;
    z-index: 100;
  }

  .xxl-container .grid-column-2 h3 {
    text-align: center;
    font-size: 4vw;
    margin-top: 2em;
  }

  .xxl-container .grid-column-1 .profile p {
    font-size: 0.6em;
  }

  .xxl-container .grid-column-1 .list-group a {
    font-size: 0.6em;
  }

  .xxl-container .grid-column-2 .key {
    color: grey;
    font-size: 2vw;
  }

  .xxl-container .grid-column-2 .value {
    font-weight: 500;
    font-size: 2vw;
  }

  .xxl-container .grid-column-2 .edit-button {
    height: 7.5vw;
    width: 20.5vw;
    margin: 0 auto;
  }

  .xxl-container .grid-column-2 .flex-item {
    width: 60vw;
    margin: 0 auto;
  }

  .outline {
    width: 65vw;
    height: 80vw;
  }

  .outline img {
    align-self: center;
    margin-bottom: 1em;
  }

  .outline img:first-child {
    width: auto;
    height: 14vw;
  }

  .outline h2 {
    font-size: 4vw;
    font-weight: bolder;
    font-family: Verdana;
  }

  .subheading {
    color: white;
    background-color: #fd6e00;
    font-size: 2.5vw;
    padding: 0.2em 1.7em;
    margin-top: -0.4em;
  }

  .coupon {
    font-weight: bold;
    margin-top: 1em;
    font-size: 2.5vw;
  }

  .coupon-img {
    margin-top: 2em;
  }

  .outline .coupon-img {
    width: auto;
    height: 17vw;
  }

  .outline small {
    font-size: 2.2vw;
  }

  .main-container2 {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    height: 80em;
  }

  .main-container2 .left-main-container {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: flex-end;
    width: 25em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-self: center;
    align-self: flex-start;
  }

  .issue-type {
    grid-column: 1/2;
    grid-row: auto;
  }

  .help-topics {
    grid-column: 2/3;
    grid-row: auto;
  }

  .main-container2 .right-main-container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }

  .main-container2 .right-main-container h4 {
    text-align: center;
  }

  .main-container2 .right-main-container .accordion button {
    font-weight: 600;
    font-size: 2.3vw;
    display: flex;
    justify-content: space-between;
  }

  .edit-profile-form {
    width: 75vw;
    margin: 0 auto;
  }

  .button-group {
    width: 100vw;
    margin: 0 auto;
  }

  .button-group button {
    font-size: 2.7vw;
  }

  .xxl-container .grid-column-2 .top-flex-container {
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    text-align: center;
    margin-top: 2em;
    margin-left: 2em;
  }

  .xxl-container .grid-column-2 .top-flex-container span {
    margin-right: 0em;
    font-size: 1em;
    margin-bottom: 1em;
  }

  .xxl-container .grid-column-2 .top-flex-container h5 {
    font-size: 1.4em;
  }

  .xxl-container .grid-column-2 .pdt-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .xxl-container .grid-column-2 .pdt-container2 .pdt-text2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .xxl-container .grid-column-2 .pdt-container2 .stars-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .xxl-container .grid-column-2 .pdt-container2 .form-group {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  .xxl-container .grid-column-2 .top-flex-container h5 {
    font-size: 1.4em;
  }

  .xxl-container .grid-column-2 .pdt-container2 button {
    font-size: 0.8em;
    width: 8em;
    height: 2.5em;
  }

  .track-order-details .xxl-container .grid-column-2 .top-flex-container {
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    text-align: center;
  }

  .track-order-details .xxl-container .grid-column-2 .top-flex-container span {
    margin-right: 0em;
    font-size: 1em;
    margin-bottom: 1em;
  }

  .track-order-details .xxl-container .grid-column-2 .top-flex-container h5 {
    font-size: 1.4em;
  }

  .track-order-details .xxl-container .grid-column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .track-order-details .xxl-container .grid-column-2 .order-num {
    margin-top: 0;
  }

  .track-order-details .xxl-container .grid-column-2 .img-info {
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .track-order-details .xxl-container .grid-column-2 .media-body h5 {
    font-size: 1.4em;
  }

  .track-order-details .xxl-container .grid-column-2 .media-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30em;
    font-size: 0.8em;
  }

  .track-order-details .xxl-container .grid-column-2 .green-bar1 {
    width: 48vw;
    height: 0.4em;
  }

  .track-order-details .xxl-container .grid-column-2 .green-bar2 {
    height: 0.4em;
  }

  .track-order-details .xxl-container .grid-column-2 .grey-bar {
    width: 19vw;
    height: 0.4em;
  }

  .track-order-details .xxl-container .grid-column-2 .green-bar1::before {
    bottom: 0.5em;
    right: 0.1em;
  }

  .track-order-details .xxl-container .grid-column-2 .green-bar1::after {
    bottom: 0.55em;
    left: 19vw;
  }

  .track-order-details .xxl-container .grid-column-2 .green-bar2::after {
    bottom: 0.55em;
    right: 1.4em;
  }

  .track-order-details .xxl-container .grid-column-2 .grey-bar::after {
    bottom: 0.55em;
    left: 16.5vw;
  }

  .track-order-details .xxl-container .grid-column-2 .grey-line1 {
    margin-top: 4vw;
  }

  .track-order-details .xxl-container .grid-column-2 .grey-line1::after {
    bottom: 1.2em;
    left: 43.5vw;
  }

  .track-order-details .xxl-container .grid-column-2 .table-heading {
    font-size: 1em;
  }

  .track-order-details .xxl-container .grid-column-2 .tabulation .row .col {
    font-size: 0.7em;
    text-align: center;
  }

  .nav-top-header {
    height: 3em;
  }

  .social-icons-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .info-bar a {
    font-size: 1.8vw;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1.5em;
    margin-right: 0.5em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1.5em;
  }

  .info-bar select {
    width: 5em;
    font-size: 0.7em;
  }

  .categories-dropdown-content,
  .orders-categories-dropdown-content {
    display: none;
  }

  #nav-bottom-header .container-fluid {
    width: 100vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 2.6em;
  }

  #basic-addon1 {
    position: relative;
    right: 1.5em;
    top: 0.1em;
  }

  #basic-addon1 img {
    width: auto;
    height: 1em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.7em;
  }

  #search-bar-hidden {
    height: 1.9em;
    border-radius: 1em;
  }

  #search-bar-container {
    width: 16em;
    height: auto;
    border-radius: 1em;
  }

  #signin-btn {
    width: 100vw;
    height: 3.5em;
    font-size: 0.7em;
    border-radius: 0;
  }

  .navbar-toggler {
    transform: scale(0.8, 0.8);
  }

  #navbar-toggler .nav-link {
    font-size: 0.7em;
  }

  .toggle {
    float: right;
  }

  #carousel-slider {
    width: 90vw;
    margin: 0 auto;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 6vw;
  }

  .carousel-slider-text p:first-child {
    font-size: 2.7vw;
  }

  .carousel-slider-text h2 {
    font-size: 6vw;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
  }

  .carousel-slider-text button {
    width: 8em;
    height: 2.7em;
    font-size: 1.8vw;
  }

  #categories h1 {
    font-size: 3.2vw;
    font-weight: 100;
    margin-bottom: 2vw;
    text-align: center;
  }

  #categories .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #categories .col {
    grid-column: 1/12;
    width: 17em;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .text-box1 {
    position: absolute;
    left: 9em;
    bottom: 4em;
    text-align: center;
  }

  .text-box2 {
    position: absolute;
    left: 8em;
    bottom: 4em;
    text-align: center;
  }

  .text-box3 {
    position: absolute;
    left: 9em;
    bottom: 4em;
    text-align: center;
  }

  .text-box h2 {
    font-size: 1em;
  }

  .text-box button {
    width: 8em;
    height: 2.6em;
    font-size: 1.7vw;
  }

  .latest-prods .latest-prod-title-bar {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar ul a {
    font-size: 2vw;
  }

  .latest-prods .container-fluid {
    width: 60vw;
  }

  .latest-prods .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0 auto;
  }

  .latest-prods .container-fluid .col {
    grid-column: 1/2;
  }

  .card-text {
    color: black;
    font-size: 0.9em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 16em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 7em;
    left: 2.3em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }

  .latest-prods .container-fluid .card .stars-group img {
    width: auto;
    height: 1em;
  }

  footer .container-fluid .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75vw;
  }

  footer .container-fluid .row .col:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  footer .container-fluid .row .col:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  footer .container-fluid .row .col:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 1em;
  }

  footer .container-fluid .row .col:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 1em;
  }

  footer .container-fluid .row .col:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 2em;
  }

  footer .container-fluid .row .col h3 {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col a {
    font-size: 0.7em;
  }

  footer .container-fluid .row .col small a {
    font-size: 1em;
  }

  footer .bottom-footer .row .col:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  footer .bottom-footer .row .col:nth-child(2) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  footer .bottom-footer .row .col .card-holder img {
    width: auto;
    height: 0.8em;
    margin-right: 0.1em;
  }

  footer .bottom-footer .row .col .social-holder img {
    width: auto;
    height: 0.8em;
    margin-right: 0.1em;
  }

  .breadcrumb-item {
    font-size: 2.1vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }

  .xxl-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1fr;
    width: 90vw;
    margin: 0 auto;
  }

  .xxl-container .grid-column-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
  }

  .xxl-container .grid-column-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 85vw;
    display: flex;
    flex-direction: column;
  }

  .xxl-container .grid-column-1 .profile img {
    width: auto;
    height: 2.5em;
  }

  .xxl-container .grid-column-1 .profile h6 {
    font-size: 2.7vw;
  }

  .xxl-container .grid-column-1 h6 {
    font-size: 2.7vw;
  }

  .xxl-container .grid-column-1 .list-items {
    font-size: 1.6vw;
    margin-bottom: 0.3em;
  }

  .xxl-container .grid-column-1 .profile p {
    font-size: 1.6vw;
  }

  .xxl-container .grid-column-2 h3 {
    text-align: center;
    font-size: 4vw;
    margin-top: 2em;
  }

  .xxl-container .grid-column-2 .pdt-container {
    flex-direction: column;
    align-items: center;
  }

  .xxl-container .grid-column-2 .pdt-text {
    flex-direction: column;
    align-items: center;
  }

  .xxl-container .grid-column-2 .pdt-text .text1 {
    margin-left: 0;
    text-align: center;
  }

  .xxl-container .grid-column-2 .pdt-text .text2 {
    margin-top: 1em;
    text-align: center;
  }

  .xxl-container .grid-column-2 .pdt-text .text3 {
    margin-top: 1em;
    text-align: center;
  }

  .xxl-container .grid-column-2 .pdt-container .img-sweater {
    width: auto;
    height: 40vw;
    border: 1px solid lightgray;
  }

  .xxl-container .grid-column-2 .pdt-text h6 {
    font-size: 3.3vw;
  }

  .xxl-container .grid-column-2 .pdt-text .star-review {
    display: flex;
    justify-content: center;
  }

  .xxl-container .grid-column-2 .pdt-text .star-review img {
    width: auto;
    height: 1.2em;
  }

  .xxl-container .grid-column-2 .pdt-text p {
    font-size: 2.2vw;
    color: rgb(155, 155, 155);
  }

  .xxl-container .grid-column-2 .pdt-text .text3 a {
    font-size: 2.4vw;
  }

  .xxl-container .grid-column-2 .title img {
    width: auto;
    height: 1.2em;
    position: relative;
    top: 1.25em;
  }

  .xxl-container .grid-column-2 .title h6 {
    text-align: center;
  }

  .xxl-container .grid-column-2 #pdt-text-4 .title,
  .xxl-container .grid-column-2 #pdt-text-5 .title {
    display: flex;
    justify-content: center;
  }

  .xxl-container .grid-column-2 #pdt-text-4 .title img {
    width: auto;
    height: 1.2em;
    position: relative;
    top: 1.25em;
  }

  .xxl-container .grid-column-2 #pdt-text-5 .title img {
    width: auto;
    height: 1.2em;
    position: relative;
    top: 1.25em;
  }

  .xxl-container .grid-column-2 h3 {
    color: #fd6e00;
    font-size: 4vw;
  }
  .xxl-container .grid-column-2 h6 {
    margin-top: 1em;
  }

  .checkout-section .container-fluid {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .part1 {
    font-size: 1.5em;
    display: flex;
    width: 40em;
    justify-content: space-evenly;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .orange-tick {
    width: auto;
    height: 2.5em;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .part2 {
    font-size: 1.5em;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .part3
    #change-btn {
    height: 3em;
    font-size: 1.4em !important;
    display: flex;
    justify-content: center;
  }

  .checkout-section .container-fluid .first-half .accordion .card .card-body {
    font-size: 0.8em;
  }

  .checkout-section .container-fluid .second-half {
    margin-top: 2em;
  }

  .desc-tabs-content {
    margin-left: 1em;
  }

  .desc-tabs .nav-item .nav-link:hover {
    border-bottom: 2px solid #fd6e00 !important;
    border-left: none;
  }

  #credit-card {
    font-size: 2.5vw;
  }

  #card-month {
    width: 6em;
  }

  #card-year {
    width: 6em;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link {
    font-size: 1.1em !important;
  }

  #modal-tab-content p {
    font-size: 0.7em;
  }

  .select-cvv {
    width: 4em;
    height: 2em;
  }

  .select-year select {
    width: 3.5em;
  }

  #card-month3 {
    width: 12em;
  }

  #emi-month {
    width: 12em;
  }

  #cash-delivery p {
    font-size: 1em;
  }

  .tagline {
    margin-top: 1em;
  }

  .cart-section .container-fluid {
    width: 80vw;
    height: auto;
  }

  .cart-section .container-fluid .row .col {
    margin-left: 1em;
  }

  .cart-section .container-fluid .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .cart-section .container-fluid .top-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .cart-section .container-fluid .top-flex-container span {
    display: block;
  }

  .cart-section .container-fluid .row .col .pdt-container {
    border: 1px solid lightgray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .cart-section .container-fluid .row .col .pdt-container .pdt-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
  }

  .cart-section .container-fluid .row .col .pdt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-section .container-fluid .row .col .pdt-container .pdt-text .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-section .container-fluid .row .col .pdt-container .pdt-text .text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-section .container-fluid .row .col .pdt-container .text2 {
    font-size: 1em;
    text-align: left;
  }

  .cart-section .container-fluid .row .col .pdt-container .text2 small {
    font-size: 0.8em;
    margin-top: 1em;
  }

  .cart-section .container-fluid .row .col .pdt-container > img {
    width: auto;
    height: 11em;
    border: 1px solid lightgray;
  }

  .cart-section .container-fluid .row .col .pdt-container .text1 h6 {
    font-size: 1.3em;
    margin-top: 0.5em;
    text-align: center;
  }

  .cart-section .container-fluid .row .col .options {
    border: 1px solid lightgray;
    border-top: none;
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
  }

  .cart-section .container-fluid .row .col .billing-section {
    border: 1px solid lightgray;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
  }

  .cart-section .container-fluid .row .col .billing-section > button {
    width: 5em;
    height: 2.5em;
    font-size: 0.8em;
    text-align: center;
  }
}

@media screen and (max-width: 459px) {
  .back-to-top-btn img {
    width: 10vw;
  }

  .checkout-section .container-fluid {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .part1 {
    font-size: 1.6em;
    display: flex;
    width: 40em;
    justify-content: space-evenly;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .orange-tick {
    width: auto;
    height: 2.5em;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .part2 {
    font-size: 1.6em;
  }

  .checkout-section
    .container-fluid
    .first-half
    .accordion
    .card
    .login-box
    .part3
    #change-btn {
    height: 3em;
    font-size: 1.5em !important;
    display: flex;
    justify-content: center;
  }

  .checkout-section .container-fluid .second-half {
    margin-top: 1.5em;
  }

  .checkout-section .tabs-container .desc-tabs-content {
    margin-left: 1em;
  }

  #credit-card {
    font-size: 2.5vw;
  }

  #debit-card {
    font-size: 2.5vw;
  }

  #net-banking {
    font-size: 2.5vw;
  }

  #cash-delivery {
    font-size: 4vw;
  }

  #EMI {
    font-size: 3vw;
  }

  #UPI {
    font-size: 3vw;
  }

  #card-month {
    width: 6em;
  }

  #card-year {
    width: 6em;
  }

  .checkout-section .tabs-container .desc-tabs .nav-item .nav-link:hover {
    border-bottom: 2px solid #fd6e00 !important;
    border-left: none;
  }

  .checkout-section .tabs-container #modal-tab-content p {
    font-size: 0.7em;
  }

  .select-cvv {
    width: 4em;
    height: 2em;
  }

  .select-year select {
    width: 3.5em;
  }

  #card-month3 {
    width: 12em;
  }

  #emi-month {
    width: 12em;
  }

  .tagline {
    margin-top: 1em;
  }

  .billing-section p {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 476px) and (max-width: 508px) {
  .latest-prods .latest-prod-title-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 75vw;
    margin: 10vw auto 0 auto;
  }

  .latest-prod-title-bar h2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: lighter;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .latest-prod-title-bar ul {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-self: center;
    align-self: center;
    border: none !important;
  }

  .latest-prod-title-bar ul a {
    font-size: 2vw;
  }

  .latest-prod-title-bar h2 {
    font-size: 4vw;
  }

  .latest-prods .container-fluid {
    width: 70vw;
  }

  .latest-prods .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0 auto;
  }

  .latest-prods .container-fluid .col {
    grid-column: 1/2;
  }

  .card-text {
    color: black;
    font-size: 1em;
    font-weight: normal;
  }

  .new_tag {
    position: absolute;
    left: 18em;
    top: 2em;
  }

  .container-fluid .icons {
    position: absolute;
    top: 8em;
    left: 3.5em;
    z-index: 100;
  }

  .container-fluid .icons img {
    width: auto;
    height: 6em;
  }

  .latest-prods .container-fluid .card .stars-group img {
    width: auto;
    height: 1em;
  }
}

@media screen and (min-width: 406px) and (max-width: 460px) {
  .info-bar a {
    font-size: 2.2vw;
  }

  .social-icons-bar {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .info-bar #call-icon {
    width: auto;
    height: 1.2em;
    margin-right: 0.3em;
  }

  .info-bar #flag-icon {
    width: auto;
    height: 1.2em;
  }

  .info-bar select {
    width: 5em;
  }

  .categories-dropdown-content,
  .orders-categories-dropdown-content {
    display: none;
  }

  #nav-bottom-header .container-fluid {
    width: 100vw;
  }

  .navbar-brand #logo_img {
    width: auto;
    height: 2.3em;
  }

  #basic-addon1 {
    position: relative;
    right: 1.5em;
    top: 0.05em;
  }

  #basic-addon1 img {
    width: auto;
    height: 1em;
  }

  #search-bar-hidden::placeholder {
    font-size: 0.68em;
  }

  #search-bar-hidden {
    height: 1.8em;
    border-radius: 1em;
  }

  #signin-btn {
    width: 100vw;
    height: 3.5em;
    font-size: 0.6em;
    border-radius: 0;
  }

  #search-bar-container {
    width: 13em;
    height: auto;
    border-radius: 1em;
  }

  .navbar-toggler {
    transform: scale(0.7, 0.7);
  }

  #navbar-toggler .nav-link {
    font-size: 0.7em;
  }

  .toggle {
    float: right;
  }

  #carousel-slider {
    width: 90vw;
    margin: 0 auto;
  }

  .carousel-slider-text {
    position: absolute;
    left: 34vw;
    bottom: 6vw;
  }

  .carousel-slider-text p:first-child {
    font-size: 2.7vw;
  }

  .carousel-slider-text h2 {
    font-size: 6vw;
  }

  .carousel-slider-text p {
    font-size: 2.5vw;
  }

  .carousel-slider-text button {
    width: 8em;
    height: 2.7em;
    font-size: 1.8vw;
  }

  .bottom-header .modal-body .nav {
    font-size: 0.9em;
  }

  .modal-footer a {
    width: 7em;
  }
}
