.my-profile {
  height: auto;
  width: 100vw;
  margin: 0 auto;
}

.mega-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 75vw;
  margin: 0 auto;
}

.mega-container .grid-column-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.mega-container .grid-column-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 60vw;
}

.mega-container .grid-column-1 .list-items {
  color: grey;
  line-height: 1.8em;
  padding: 0.2em 0.5em;
  font-size: 0.8vw;
  text-decoration: none;
}

.mega-container .grid-column-1 h6 {
  font-size: 1vw;
}

.mega-container .grid-column-1 .profile p {
  color: grey;
  font-size: 0.8vw;
}

.mega-container .grid-column-1 .list-item-active {
  color: #fd6e00;
  background-color: rgb(226, 226, 226);
}

.mega-container .grid-column-2 h3 {
  color: #fd6e00;
  font-size: 2vw;
}

.mega-container .grid-column-2 .pdt-container {
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.mega-container .grid-column-2 .pdt-container .img-sweater {
  width: auto;
  height: 9vw;
  border: 1px solid lightgray;
}

.mega-container .grid-column-2 .pdt-text {
  width: 50em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.mega-container .grid-column-2 .pdt-text .text1 {
  margin-left: 1em;
}

.mega-container .grid-column-2 .pdt-text h6 {
  font-size: 1.2vw;
}

.mega-container .grid-column-2 .pdt-text p {
  font-size: 0.8vw;
  color: rgb(155, 155, 155);
}

.mega-container .grid-column-2 .pdt-text .text3 a {
  font-size: 1.1vw;
  text-decoration: underline;
  font-weight: bold;
}

.mega-container .grid-column-2 .pdt-text .text3 .title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mega-container .grid-column-2 .pdt-text .star-review {
  display: flex;
  align-items: flex-start;
}

.mega-container .grid-column-2 .pdt-text .star-review img {
  width: auto;
  height: 1.2em;
}

.mega-container .grid-column-2 #pdt-text-4 .title,
.mega-container .grid-column-2 #pdt-text-5 .title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mega-container .grid-column-2 #pdt-text-4 .title img {
  width: auto;
  height: 1.2em;
}

.mega-container .grid-column-2 #pdt-text-5 .title img {
  width: auto;
  height: 1.2em;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .breadcrumb-item {
    font-size: 1vw;
  }

  .mega-container .grid-column-1 .list-items {
    font-size: 1vw;
  }

  .mega-container .grid-column-1 .profile p {
    color: grey;
    font-size: 1vw;
  }

  .mega-container .grid-column-1 h6 {
    font-size: 1.5vw;
  }

  .mega-container .grid-column-2 .pdt-text h6 {
    font-size: 1.4vw;
  }

  .mega-container .grid-column-2 .pdt-text .star-review img {
    width: auto;
    height: 0.9em;
  }

  .mega-container .grid-column-2 .pdt-text p {
    font-size: 0.8vw;
    color: rgb(155, 155, 155);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .breadcrumb-item {
    font-size: 1.5vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 5em;
  }

  .mega-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    width: 75vw;
    margin: 0 auto;
  }

  .mega-container .grid-column-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: 80vw;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
  }

  .mega-container .grid-column-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 75vw;
    display: flex;
    flex-direction: column;
  }

  .mega-container .grid-column-1 .list-items {
    font-size: 1.5vw;
  }

  .mega-container .grid-column-1 .profile p {
    color: grey;
    font-size: 1.5vw;
  }

  .mega-container .grid-column-1 .my-account-heading {
    font-size: 2vw;
  }

  .mega-container .grid-column-1 h6 {
    font-size: 2vw;
  }

  .mega-container .grid-column-2 .pdt-container {
    padding: 0;
  }

  .mega-container .grid-column-2 .pdt-container .img-sweater {
    width: auto;
    height: 16vw;
  }

  .mega-container .grid-column-2 .pdt-text h6 {
    font-size: 1.8vw;
  }

  .mega-container .grid-column-2 .pdt-text .star-review img {
    width: auto;
    height: 0.7em;
  }

  .mega-container .grid-column-2 .pdt-text p {
    font-size: 1.3vw;
    color: rgb(155, 155, 155);
  }

  .mega-container .grid-column-2 .pdt-text .text3 a {
    font-size: 1.4vw;
  }

  .mega-container .grid-column-2 .title img {
    width: auto;
    height: 0.8em;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title img {
    width: auto;
    height: 0.8em;
  }

  .mega-container .grid-column-2 #pdt-text-5 .title img {
    width: auto;
    height: 0.8em;
  }
}

@media screen and (min-width: 461px) and (max-width: 575px) {
  .breadcrumb-item {
    font-size: 2.1vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }

  .mega-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1fr;
    width: 90vw;
    margin: 0 auto;
  }

  .mega-container .grid-column-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
  }

  .mega-container .grid-column-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 85vw;
    display: flex;
    flex-direction: column;
  }

  .mega-container .grid-column-1 .profile img {
    width: auto;
    height: 2.5em;
  }

  .mega-container .grid-column-1 .profile h6 {
    font-size: 2.7vw;
  }

  .mega-container .grid-column-1 h6 {
    font-size: 2.7vw;
  }

  .mega-container .grid-column-1 .list-items {
    font-size: 1.6vw;
    margin-bottom: 0.3em;
  }

  .mega-container .grid-column-1 .profile p {
    font-size: 1.6vw;
  }

  .mega-container .grid-column-2 h3 {
    text-align: center;
    font-size: 4vw;
    margin-top: 2em;
  }

  .mega-container .grid-column-2 .pdt-container {
    flex-direction: column;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text {
    flex-direction: column;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text .text1 {
    margin-left: 0;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-text .text2 {
    margin-top: 1em;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-text .text3 {
    margin-top: 1em;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-container .img-sweater {
    width: auto;
    height: 40vw;
    border: 1px solid lightgray;
  }

  .mega-container .grid-column-2 .pdt-text h6 {
    font-size: 3.3vw;
  }

  .mega-container .grid-column-2 .pdt-text .star-review {
    display: flex;
    justify-content: center;
  }

  .mega-container .grid-column-2 .pdt-text .star-review img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 .pdt-text p {
    font-size: 2.2vw;
    color: rgb(155, 155, 155);
  }

  .mega-container .grid-column-2 .pdt-text .text3 a {
    font-size: 2.4vw;
  }

  .mega-container .grid-column-2 .title img {
    width: auto;
    height: 1.2em;
    position: relative;
    top: 1.25em;
  }

  .mega-container .grid-column-2 .title h6 {
    text-align: center;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title,
  .mega-container .grid-column-2 #pdt-text-5 .title {
    display: flex;
    justify-content: center;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title img {
    width: auto;
    height: 1.2em;
    position: relative;
    top: 1.25em;
  }

  .mega-container .grid-column-2 #pdt-text-5 .title img {
    width: auto;
    height: 1.2em;
    position: relative;
    top: 1.25em;
  }

  .mega-container .grid-column-2 h3 {
    color: #fd6e00;
    font-size: 4vw;
  }
  .mega-container .grid-column-2 h6 {
    margin-top: 1em;
  }
}

@media screen and (min-width: 399px) and (max-width: 460px) {
  .breadcrumb-item {
    font-size: 2.4vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }

  .mega-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1fr;
    width: 75vw;
    margin: 0 1em;
  }

  .mega-container .grid-column-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
  }

  .mega-container .grid-column-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .mega-container .grid-column-1 .profile img {
    width: auto;
    height: 2.5em;
  }

  .mega-container .grid-column-1 .profile h6 {
    font-size: 2.7vw;
  }

  .mega-container .grid-column-1 h6 {
    font-size: 2.7vw;
  }

  .mega-container .grid-column-1 .list-items {
    font-size: 1.6vw;
    margin-bottom: 0.3em;
  }

  .mega-container .grid-column-1 .profile p {
    font-size: 1.6vw;
  }

  .mega-container .grid-column-2 h3 {
    text-align: center;
    font-size: 5em;
  }

  .mega-container .grid-column-2 .pdt-container {
    flex-direction: column;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text {
    flex-direction: column;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text .text1 {
    margin-left: 0;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-text .text2 {
    margin-top: 1em;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-text .text3 {
    margin-top: 1em;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-container .img-sweater {
    width: auto;
    height: 40vw;
    border: 1px solid lightgray;
  }

  .mega-container .grid-column-2 .pdt-text h6 {
    font-size: 4vw;
  }

  .mega-container .grid-column-2 .pdt-text .star-review {
    display: flex;
    justify-content: center;
  }

  .mega-container .grid-column-2 .pdt-text .star-review img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 .pdt-text p {
    font-size: 2.2vw;
    color: rgb(155, 155, 155);
  }

  .mega-container .grid-column-2 .pdt-text .text3 a {
    font-size: 3.2vw;
  }

  .mega-container .grid-column-2 .pdt-text .text3 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text .title img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 .pdt-text .title h6 {
    text-align: center;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title,
  .mega-container .grid-column-2 #pdt-text-5 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 #pdt-text-5 .title img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 h3 {
    color: #fd6e00;
    font-size: 4vw;
  }
  .mega-container .grid-column-2 h6 {
    margin-top: 1em;
  }
}

@media screen and (min-width: 320px) and (max-width: 398px) {
  .breadcrumb-item {
    font-size: 2.4vw;
  }

  .breadcrumb-item:first-child {
    margin-left: 3em;
  }

  .mega-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 1fr;
    width: 75vw;
    margin: 0 1em;
  }

  .mega-container .grid-column-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
  }

  .mega-container .grid-column-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .mega-container .grid-column-1 .profile img {
    width: auto;
    height: 2.5em;
  }

  .mega-container .grid-column-1 .profile h6 {
    font-size: 2.7vw;
  }

  .mega-container .grid-column-1 h6 {
    font-size: 2.7vw;
  }

  .mega-container .grid-column-1 .list-items {
    font-size: 1.6vw;
    margin-bottom: 0.3em;
  }

  .mega-container .grid-column-1 .profile p {
    font-size: 1.6vw;
  }

  .mega-container .grid-column-2 h3 {
    text-align: center;
    font-size: 5em;
  }

  .mega-container .grid-column-2 .pdt-container {
    flex-direction: column;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text {
    flex-direction: column;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text .text1 {
    margin-left: 0;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-text .text2 {
    margin-top: 1em;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-text .text3 {
    margin-top: 1em;
    text-align: center;
  }

  .mega-container .grid-column-2 .pdt-container .img-sweater {
    width: auto;
    height: 40vw;
    border: 1px solid lightgray;
  }

  .mega-container .grid-column-2 .pdt-text h6 {
    font-size: 4vw;
  }

  .mega-container .grid-column-2 .pdt-text .star-review {
    display: flex;
    justify-content: center;
  }

  .mega-container .grid-column-2 .pdt-text .star-review img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 .pdt-text p {
    font-size: 2.2vw;
    color: rgb(155, 155, 155);
  }

  .mega-container .grid-column-2 .pdt-text .text3 a {
    font-size: 3.2vw;
  }

  .mega-container .grid-column-2 .pdt-text .text3 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mega-container .grid-column-2 .pdt-text .title img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 .pdt-text .title h6 {
    text-align: center;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title,
  .mega-container .grid-column-2 #pdt-text-5 .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .mega-container .grid-column-2 #pdt-text-4 .title img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 #pdt-text-5 .title img {
    width: auto;
    height: 1.2em;
  }

  .mega-container .grid-column-2 h3 {
    color: #fd6e00;
    font-size: 4vw;
  }
  .mega-container .grid-column-2 h6 {
    margin-top: 1em;
  }
}
